!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title{"data-bind" => "window.BatmanRailsCheckin.pageTitle"}
      :javascript
        var bootstrapData = #{@user_json}
      = stylesheet_link_tag 'application'
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{"data-route" => "'/'"}
            Batman Rails Checkin
          %ul.nav{data: {showif: "window.BatmanRailsCheckin.currentUser"}}
            %li{:data => {"foreach-project" => "window.BatmanRailsCheckin.Project.all", |
                "addclass-active" => "window.BatmanRailsCheckin.currentProjectId | equals project.id"}}
              %a{:data => {"bind" => "project.name", "route" => "routes.projects[project]"}}

          %ul.nav.pull-right{data: {showif: "window.BatmanRailsCheckin.currentUser"}}
            %li
              %a{:data => {bind: "window.BatmanRailsCheckin.currentUser.name | prepend 'logout '", |
                          "route" => "routes.logout"}}
    #main.container
      .content
        %p#flashnotice.alert.alert-overlay.alert-success{:data => {"showif" => "window.BatmanRailsCheckin.flash.success.length"}}
          %a.close{:href => "#", :onclick => "$('#flashnotice').hide(); return false"} ×
          %span{:data => {"bind" => "window.BatmanRailsCheckin.flash.success"}}
        %p#flashwarning.alert.alert-overlay.alert-error{:data => {"showif" => "window.BatmanRailsCheckin.flash.error.length"}}
          %a.close{:href => "#", :onclick => "$('#flashwarning').hide(); return false"} ×
          %span{:data => {"bind" => "window.BatmanRailsCheckin.flash.error"}}
        %div{:data => {"yield" => "main"}}
