%form.project-settings-form{"accept-charset" => "UTF-8", "data-event-input" => "updateProjectSettings", |
      "data-event-submit" => "updateProjectSettingsAndToggleIsViewingSettings", |
      "data-formfor-project" => "project"}
  %label Project Name
  %input.span10{type: "text", "data-bind" => "project.name", name: "project[:name]"}

  %label Campfire Subdomain
  %input.span10{type: "text", "data-bind" => "project.campfire_subdomain", name: "project[:campfire_subdomain]"}

  %label Campfire Token
  %input.span10{type: "text", "data-bind" => "project.campfire_token", name: "project[:campfire_token]"}

  %label Campfire Room Name
  %input.span10{type: "text", "data-bind" => "project.campfire_room", name: "project[:campfire_room]"}

  %div.span10
    %button.btn.btn-success.pull-right Save

  .clearfix &nbsp;

  %div{"data-showif" => "project.owner_id | equals currentUser.user_id"}
    %a{"data-event-click" => "deleteProject"} Delete project