%ul.nav.nav-list.nav-list-bordered.user-list
  %li{"data-removeclass-active" => "user"}
    %a{"data-route" => "routes.projects[project].users"}
      All Users
      %i.icon-chevron-right.view-icon
  %li{"data-foreach-sidebaruser" => "project.users", "data-addclass-active" => "user.id | equals sidebaruser.id"}
    %a{"data-route" => "routes.projects[project].users[sidebaruser]"}
      %i.icon-chevron-right.view-icon
      %img{"data-bind-src" => "sidebaruser.gravatar_url"}
      %span.email
        %span{"data-bind" => "sidebaruser.name"}
        %i{"data-bind-class" => "sidebaruser.status | append \" icon-circle\""}
      %span.checkin{"data-bind" => "sidebaruser.latest_checkin.firstGetDone"}
      .clearfix

%form.new-collaborator-form{"accept-charset" => "UTF-8", "data-event-submit" => "createCollaborator", |
      "data-formfor-user" => "newCollaborator", "data-view" => "NewCollaboratorFormView"}
  %h5 Add Collaborator
  %input{type: "text", "data-bind" => "user.email", name: "user[:email]", placeholder: "Email Address"}
  %button.btn.btn-primary Add
