%div{"data-showif" => "sidebarViewByDate"}
  .sidebar-date-user-toggle
    Checkins by Date
    \/
    %a{"data-event-click" => "switchViewByDateUser"} Checkins by User
  %ul.nav.nav-list.nav-list-bordered.day-list
    %li{"data-foreach-day" => "days", "data-addclass-active" => "currentDay.date | matches day.date"}
      %a{"data-route" => "day.route"}
        %i.icon-chevron-right.view-icon
        %span.badge-wrapper
          %span.badge.badge-inverse{"data-bind" => "day.checkin_count"}
        %span{"data-bind" => "day.date_pretty"}

%div{"data-showif" => "sidebarViewByUser"}
  .sidebar-date-user-toggle
    %a{"data-event-click" => "switchViewByDateUser"} Checkins by Date
    \/
    Checkins by User
  %ul.nav.nav-list.nav-list-bordered.user-list
    %li{"data-foreach-user" => "users"}
      %a{"data-route" => "routes.checkins[user.latest_checkin.id]"}
        %i.icon-chevron-right.view-icon
        %img{"data-bind-src" => "user.gravatar_url"}
        %span.email{"data-bind" => "user.name"}
        %span.checkin{"data-bind" => "user.latest_checkin.body | truncate '25'"}
        .clearfix
