.row-fluid
  .span3
    %h4 Users
    %ul.nav.nav-list.user-list
      %li
        %a
          %span.email All Users
          %i.icon-chevron-right.view-user-icon
      %li{"data-foreach-user" => "users"}
        %a{"data-route" => "routes.checkins[user.latest_checkin.id]"}
          %i.icon-chevron-right.view-user-icon
          %img{"data-bind-src" => "user.gravatar_url"}
          %span.email{"data-bind" => "user.email"}
          %span.checkin{"data-bind" => "user.latest_checkin.body | truncate '25'"}
          .clearfix

  .span9
    %h4 Recent Checkins