.well.checkin
  .checkin-header
    %img.gravatar{"data-bind-src" => "checkin.user.gravatar_url | default user.gravatar_url"}
    %a.name{"data-route" => "", "data-bind" => "checkin.user.name | default user.name"}
    %span.time{"data-showif" => "displayCheckinTimes"}
      at
      %span{"data-bind" => "checkin.time_pretty"}
    %span{"data-showif" => "displayCheckinDates"}
      on
      %a{"data-bind" => "checkin.date_slashes", "data-route" => "checkin.dateRoute"}

  %p{"data-bind" => "checkin.body_html | raw", "data-view" => "CheckinBodyView"}
