.checkin-pagination
  %a.btn.btn-small{"data-route" => "paginator.previousPageRoute", "data-removeclass-disabled" => "paginator.previousPageRoute"} «
  %a.btn.btn-small{"data-route" => "paginator.nextPageRoute", "data-removeclass-disabled" => "paginator.nextPageRoute"} »

  %span{"data-bind" => "paginator.displayRange | prepend \"&nbsp;showing \" | append \" of \" | append paginator.totalResults"}
