.row-fluid
  .span3.sidebar-nav-fixed
    %div{"data-partial" => "main/_sidebar"}

  .fixed-sidebar
    %h4 &nbsp;

    %checkins
      %div{"data-foreach-checkin" => "checkins", "data-partial" => "checkins/_checkin"}