.row-fluid
  .span3.sidebar-nav-fixed
    %div{"data-partial" => "main/_sidebar"}

  .fixed-sidebar
    %h4 &nbsp;
    %a.btn.btn-success.post-checkin-button{"data-route" => "routes.checkins.new"}
      %i.icon-bullhorn
      Post Checkin

    .checkins
      .checkin-wrapper{"data-foreach-checkin" => "checkins", "data-partial" => "checkins/_checkin"}