#edit-checkin.row
  #content.span16
    %form#edit_checkin.edit_checkin{"accept-charset" => "UTF-8", "data-event-submit" => "update", "data-formfor-checkin" => "checkin"}
      %div{"data-partial" => "checkins/_form"}