#new-checkin.row
  #content.span16
    %form#new_checkin.new_checkin{"accept-charset" => "UTF-8", "data-event-submit" => "create", "data-formfor-checkin" => "checkin"}
      %div{"data-partial" => "checkins/_form"}