.row-fluid#main-row
  .span3.sidebar
    .above-sidebar
      %h4
        %span{"data-bind" => "project.name"}
        %small.pull-right
          %a{"data-event-click" => "toggleIsViewingSettings"}
            %span{"data-hideif" => "isViewingSettings"} settings &rarr;
            %span{"data-showif" => "isViewingSettings"} &larr; users
    %div{"data-partial" => "main/_sidebar", "data-hideif" => "isViewingSettings"}
    %div{"data-partial" => "main/_projectSettings", "data-showif" => "isViewingSettings"}

  .span9#row-main-content

    %div.top-pagination{"data-partial" => "checkins/_pagination"}

    %a.btn.btn-success.post-checkin-button{"data-route" => "routes.projects[project].checkins.new"}
      %i.icon-bullhorn
      Post Checkin

    %p.no-checkins{"data-showif" => "paginator.results.length | equals 0"} No checkins to display.
    .checkins
      .checkin-wrapper{"data-foreach-checkin" => "paginator.results.sortedByDescending.created_at", "data-partial" => "checkins/_checkin"}
      .clearfix &nbsp;

    %div{"data-showif" => "paginator.results", "data-partial" => "checkins/_pagination"}