.row-fluid#main-row
  .span3.sidebar-nav-fixed
    %div{"data-partial" => "main/_sidebar"}

  .fixed-sidebar
    %a.btn.btn-success.post-checkin-button{"data-route" => "currentProject.newCheckinRoute"}
      %i.icon-bullhorn
      Post Checkin

    %p.no-checkins{"data-hideif" => "checkins | get \"first\""} No checkins to display.
    .checkins
      .checkin-wrapper{"data-foreach-checkin" => "checkins.sortedByDescending.created_at", "data-partial" => "checkins/_checkin"}
