.row-fluid#main-row
  .span3.sidebar-nav-fixed
    %div{"data-partial" => "main/_sidebar"}

  .fixed-sidebar
    %a.btn.btn-success.post-checkin-button{"data-route" => "routes.projects[project].checkins.new"}
      %i.icon-bullhorn
      Post Checkin

    %p.no-checkins{"data-showif" => "checkins.length | equals 0"} No checkins to display.
    .checkins
      .checkin-wrapper{"data-foreach-checkin" => "checkins.sortedByDescending.created_at", "data-partial" => "checkins/_checkin"}
