@import 'nib'

.clearfix
  clear both

.sidebar-nav-fixed
  position fixed

.row-fluid > .fixed-sidebar
  margin-left 340px

ul.nav-list-bordered
  padding 0
  background-color #fff
  border-radius(6px)

  > li:first-child > a
    border-radius(6px 6px 0 0)

  > li:last-child > a
    border-radius(0 0 6px 6px)

  > li > a
    margin 0 0 -1px
    display block
    border 1px solid #e5e5e5
    padding 10px
    position relative

    .view-icon
      position absolute
      top 50%
      margin-top -7px
      right 0
      color #444

    img
      float left
      margin-right 10px

    .email
      color #333

    .checkin
      display block
      color #aaa

ul.day-list
  .badge-wrapper
    position absolute
    right 20px
    width 50px
    text-align center