@import 'nib'

body
  padding-top 60px

a
  cursor pointer

.clearfix
  clear both

.sidebar-nav-fixed
  position fixed

.row-fluid > .fixed-sidebar
  margin-left 340px
  position relative

.post-checkin-button
  position absolute
  top -8px
  right 2px

.checkins
  margin 0 -20px

.checkin-wrapper
  width 47%
  padding 0 10px
  float left

  &:nth-child(odd)
    clear both

.checkin-header
  margin-bottom 13px

  a.name
    color #333
    font-weight bold
    margin-left 3px

  .time
    color #999

  .gravatar
    margin-top -4px
    width 26px
    height 26px
    border-radius(13px)

.checkin
  h4
    font-size 14px
    margin 0

  ul
    margin 0 0 10px

  li
    list-style none

  .flag-R
    color red

  .flag-Y
    color #bfbf00

  .flag-G
    color green

  .delete
    color #666
    display none

  &:hover
    .delete
      display inline

ul.nav-list-bordered
  padding 0
  background-color #fff
  border-radius(6px)

  > li:first-child > a
    border-radius(6px 6px 0 0)

  > li:last-child > a
    border-radius(0 0 6px 6px)

  > li > a
    margin 0 0 -1px
    display block
    border 1px solid #e5e5e5
    padding 10px
    position relative

    .view-icon
      position absolute
      top 50%
      margin-top -6px
      right 4px
      color #444

    img
      float left
      margin-right 10px

    .email
      color #333

    .checkin
      display block
      color #aaa

ul.day-list
  .badge-wrapper
    position absolute
    right 20px
    width 50px
    text-align center

textarea#post_content
  width 100%
  box-sizing border-box