@import 'nib'

html
  height 100%

body
  padding-top 80px

a
  cursor pointer

#main-row
  padding-top 38px

#main
  position relative

  .alert-overlay
    position absolute
    top -36px
    width 400px
    left 50%
    margin-left -200px
    z-index 1031

.checkin-pagination
  margin-left -10px

.navbar-fixed-top
  ul.nav.pull-right
    margin-right -10px

  span.icon-bar
    margin 0 4px

  i.icon-signout
    margin-right 0
    font-size 16px

  img.avatar
    width 20px
    height 20px
    border-radius(10px)
    margin-right 5px
    margin-top -3px

.new-project-li
  form
    margin 6px 0 0 10px

  input
    margin 5px 0

  .btn
    margin 0


.clearfix
  clear both

.sidebar
  position relative

  .above-sidebar
    h4
      position absolute
      top -38px
      width 100%

      small
        margin-top 4px

  i.icon-circle
    font-size 11px
    text-shadow 0 -1px -1px #333

    &.offline
      color red

    &.away
      color #EBDB00

    &.available
      color green

.project-settings-form
  button
    margin-right 7px

.new-collaborator-form
  h5
    margin-bottom 3px
  input
    margin 0
    width 70%
  button.btn
    width 22%
    margin 0
    padding 4px 0

#row-main-content
  position relative
  padding-bottom 20px

p.no-checkins
  margin-left -10px

.post-checkin-button
  position absolute
  top -56px
  right 2px

.checkins
  margin 0 -20px

.checkin-wrapper
  width 47%
  padding 0 1.125%
  float left

  &:nth-child(odd)
    clear both

.checkin-header
  margin-bottom 13px

  a.name
    color #333
    font-weight bold
    margin-left 3px

  .time
    color #666

  .gravatar
    margin-top -4px
    width 26px
    height 26px
    border-radius(13px)

.recent-checkin
  ul.get-done
    li
      cursor pointer

.checkin
  color #333

  h4
    font-size 14px
    margin 0
    font-family Cabin, Verdana, sans-serif
    font-weight bold

  ul
    margin 0 0 10px

  li
    list-style none

  .flag-R
    color red

  .flag-Y
    color #bfbf00

  .flag-G
    color green

  .delete
    color #666
    display none

  &:hover
    .delete
      display inline

ul.nav-list-bordered
  padding 0
  background-color #fff

  > li > a
    margin 0 0 -1px
    display block
    padding 10px
    position relative
    border 0
    color #444 !important

    .view-icon
      position absolute
      top 50%
      margin-top -6px
      right 4px
      color #444

    img
      float left
      margin-right 10px
      width 45px
      height 45px
      border-radius(22px)

    .first-get-done
      display block
      color #666

ul.invitees
  a.delete
    color #eee

textarea#post_content
  width 100%
  box-sizing border-box