@media (max-width: 979px)
  #main-row > .sidebar
    width 100%
    padding-bottom 15px

  .post-checkin-button
    position static
    float right
    margin-right 20px
    margin-bottom 20px

  #row-main-content
    clear both
    width 100%

    .checkins
      margin 0 0 0 -30px

@media (max-width: 767px)
  #row-main-content
    .checkins
      margin 0 -10px


@media (max-width: 480px)
  #row-main-content
    .checkins
      .checkin-wrapper
        width 97%
